{% extends 'base.html.twig' %}

{% block body %}
    <div class="account">
        <div class="container">
            <div class="account-top heading">
                <h2>Category creation</h2>
            </div>
            <div class="account-main">
                <div class="col-md-6 account-left">
                    <h3>Create new category</h3>
                    <div class="account-bottom">
                        {{ form_start(form, {
                            'attr': {
                                'class': 'form-signin',
                            }
                        }) }}
                        <div class="form-group">
                            {{ form_row(form.name, {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'Name'
                                },
                            }) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.parent, {
                                    'attr': {
                                        'class': 'form-control',
                                }
                            }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.isActive, {
                                'attr': {
                                    'class': 'checkbox',
                                }
                                }) }}
                        </div>
                        <div class="address">
                            <input type="submit" value="Create" />
                        </div>
                        {{ form_rest(form) }}
                    </div>
                </div>

                <div class="col-md-6 account-right account-left">
                    <h3>Recommended</h3>
                    <p>Enter name of category, choice parent category and something else, for example lorem ipsum dolor sit. If you don't want create new category, you can back to the list</p>
                    <a href="{{ path('category_index') }}">Back to the list</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}
