{% extends 'base.html.twig' %}

{% block body %}

    <!--start-breadcrumbs-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li class="active">{{ product.category }} {{ product.name }}</li>
                </ol>
            </div>
        </div>
    </div>
    <!--end-breadcrumbs-->
    <div class="single contact">
        <div class="container">
            <div class="single-main">
                <div class="col-md-9 single-main-left">
                    <div class="sngl-top">
                        <div class="col-md-5 single-top-left">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li data-thumb="images/s-1.jpg">
                                        <div class="thumb-image"> <img src="{{ asset(product.image) }}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-7 single-top-right">
                            <div class="single-para simpleCart_shelfItem">
                                <h2>{{ product.category }} {{ product.name }}</h2>
                                <div class="star-on">
                                    <ul class="star-footer">
                                        <li><a href="#"><i> </i></a></li>
                                        <li><a href="#"><i> </i></a></li>
                                        <li><a href="#"><i> </i></a></li>
                                        <li><a href="#"><i> </i></a></li>
                                        <li><a href="#"><i> </i></a></li>
                                    </ul>
                                    <div class="review">
                                        <a href=#"> 1 customer review </a>

                                    </div>
                                    <div class="clearfix"> </div>
                                </div>

                                <h5 class="item_price">$ {{ product.price }}</h5>
                                <p>{{ product.description }}</p>

                                <ul class="tag-men">
                                    <li><span>SKU: </span>
                                        <span class="women1">{{ product.sku }}</span></li>
                                    <li><span>Add: </span>
                                        <span class="women1">{{ product.dateCreate.date|date("d M Y") }}</span></li>
                                    <li><span>Update: </span>
                                        <span class="women1">{% if product.dateUpdate %}{{ product.dateUpdate.date|date("d M Y") }}{% endif %}</span></li>
                                </ul>
                                <a href="#" class="add-cart item_add">ADD TO CART</a>

                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="latestproducts">
                        <div class="product-one">
                            {% for relation in product.myRelation %}
                                <div class="col-md-4 product-left p-left">
                                    <div class="product-main simpleCart_shelfItem">
                                        <a href="{{ path('product_show', { 'id': relation.id }) }}" class="mask"><img class="img-responsive zoom-img" src="{{ asset(relation.image) }}" alt="" /></a>
                                        <div class="product-bottom">
                                            <h3>{{ relation.category }}</h3>
                                            <p>{{ relation.name }}</p>
                                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ {{ relation.price }}</span></h4>
                                        </div>
                                        <div class="srch">
                                            <span>-50%</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-right">
                    <div class="w_sidebar">
                        <section  class="sky-form">
                            <h4>Action</h4>
                            <div class="row1 row2 scroll-pane">
                                <div class="col col-4">
                                    <label>
                                        <a class="btn btn-warning" href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
                                    </label>
                                    <hr>
                                    <label>
                                        {{ form_start(delete_form) }}
                                        <input class="btn btn-danger" type="submit" value="Delete">
                                        {{ form_end(delete_form) }}
                                    </label>
                                    <hr>
                                    <label>
                                        <a class="btn btn-info" href="{{ path('product_index') }}">Back to the list</a>
                                    </label>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
{% endblock %}
