{% extends 'base.html.twig' %}

{% block body %}
<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li class="active">List of products</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<div class="product">
    <div class="container">
        <div class="account-top heading">
            <h2>User list</h2>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Isactive</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{% if user.isActive %}Yes{% else %}No{% endif %}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('user_edit', { 'id': user.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
