{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-1.11.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/js-tree-catalog.js') }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('css/js-tree.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block body %}
    <!--start-breadcrumbs-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li class="active">Catalog</li>
                </ol>
            </div>
        </div>
    </div>
    <!--end-breadcrumbs-->
    <!--prdt-starts-->
    <div class="prdt">
    <div class="container">
        <div class="prdt-top">
            <div class="col-md-9 prdt-left">
                <div class="product-one">
                    {% for product in pagination %}
                        <div class="col-md-4 product-left p-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="#" class="mask"><img class="img-responsive zoom-img" src="{{ asset(product.image) }}" alt="" /></a>
                                <div class="product-bottom">
                                    <h3>{{ product.category }}</h3>
                                    <p>{{ product.name }}</p>
                                    <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ {{ product.price }}9</span></h4>
                                </div>
                                <div class="srch srch1">
                                    <span>-50%</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3 prdt-right">
                <div class="w_sidebar">

                </div>
                <div class="clearfix"></div>
                <div class="pagenatin">
                    <nav>
                        {{ knp_pagination_render(pagination) }}
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--product-end-->
    <script type="text/javascript">
        var settings = {
            'dataURL': 'http://127.0.0.1:8000/category/ajax',
            'id': '1'
        };
        document.addEventListener("DOMContentLoaded", function() {
            $(".w_sidebar").jsTree({'dataURL': 'http://127.0.0.1:8000/category/ajax'});
        });
        $(function() {
            $(document).on('click', 'li a', function() {
                if ($(this).find('span').hasClass('glyphicon glyphicon-folder-close')){
                    $(this).find('span').removeClass('glyphicon glyphicon-folder-close');
                    $(this).find('span').addClass('glyphicon glyphicon-folder-open');
                }
                else{
                    $(this).find('span').removeClass('glyphicon glyphicon-folder-open');
                    $(this).find('span').addClass('glyphicon glyphicon-folder-close');
                }
                $(this).parents('li').each(function(i) { $(this).siblings().find('ul').slideUp(); });
                console.log($(this).next('ul'));
                $(this).nextAll('ul').slideToggle(function() { if (!$(this).is(':visible')) $(this).find('ul').hide(); });
            });
            $(document).on('click', '.edit', function(){
                settings.id=this.id;
                settings.dataURL=generateURL();
                $.get( settings.dataURL, function( data ) {
                    $(".product-left").remove();
                    $( ".product-one" ).html( data );
                });
            });
        });
        function generateURL(){
            return window.location.href+"/ajax?category="+settings.id;
        }
    </script>
{% endblock %}