{% for product in pagination %}
    <div class="col-md-4 product-left p-left">
        <div class="product-main simpleCart_shelfItem">
            <a href="{{ path('product_show', {'id': product.id}) }}" class="mask"><img class="img-responsive zoom-img" src="{{ asset(product.image) }}" alt="" /></a>
            <div class="product-bottom">
                <h3>{{ product.category }}</h3>
                <p>{{ product.name }}</p>
                <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ {{ product.price }}9</span></h4>
            </div>
            <div class="srch srch1">
                <span>-50%</span>
            </div>
        </div>
    </div>
{% endfor %}